/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 10px;
  box-shadow: 0 2px 8px #801313;
} 



.pages {
  flex: 1; 
  padding: 20px;
}
